body {
    display: flex ;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* justify-content: space-around; */
    background-color: rgb(225, 170, 97);
    
}

.main-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    margin: 0;
}

.box-top {
    display: flex;
    justify-content: center;
    
}

.box-bottom {
    display: flex;
    justify-content: center;
    
}

.btn {
    height: 10vh;
    width: 10vh;
    border: 1vh solid black;
    border-radius: 2vh;
    margin: 10px;
}


.btn1 {  
   background-color: rgb(209, 109, 109);
}

.btn2 {
    background-color: rgb(18, 99, 164);
}

.btn3 {
    background-color: rgb(85, 201, 91);
}

.btn4 {
    background-color: rgb(201, 69, 32);
}

#start-btn {
    height: 5vh;
    width: 15vh;
    font-size: 2vh;
    color: rgb(0, 0, 0);
    background-color: rgb(218, 71, 58);
    border-radius: 10px;
}

#score-card-btn {
    background-color: rgb(4, 89, 19);
    color: white;
}

#help-btn {
    color: wheat;
    background-color: darkolivegreen;
}
#score-card {

    width: 40vh;
    border-collapse: collapse;
    display: none;
}

th {
    border: 1px solid black;
   width: 20vh;
}


.help li {
    text-align: justify;
}

.help {
    display: none;
    width: 80vw;
}
